&nbsp;
<span id="post-collect-count-<%= post.id %>" class="label label-success"><%= post.collects.count%> </span>
<% if current_user %>
  <% if post.find_collect(current_user) %>
    <%= link_to "ðŸ’”", discollect_post_path(post), :method => :post, :remote => true %>
  <% else %>
    <%= link_to "â¤ï¸", collect_post_path(post), :method => :post, :remote => true %>
  <% end %>
<% end %>
